*
{
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    background-color: #ACC8E5;
    color: #112;
}
h1
{
    margin-left: 80vh;
    font-size: 40px;
    color: #27329b;
}
img
{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin: 30px;
}
.main
{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 200px;
   margin-top: 250px;
}
button
{
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    padding:5px;
}
button:hover
{
    background-color: #717ef6;
}